<a href="https://colab.research.google.com/github/ricardo-rios/cursoesp2022/blob/main/UnidadI/clase20abril.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Repitiendo con while

In [ ]:
count = 1 
while count <= 5:
  print(count)
  count += 1

1
2
3
4
5

# Cancelando el bucle con break

In [ ]:
# El siguiente código se debe ejecutar en la consola de python 3.

while True: 
  stuff = input('String to capitalize [type q to quit]: ')
  if stuff == "q":
    break
  print(stuff.capitalize())

String to capitalize [type q to quit]: q

# Usando continue

In [ ]:
  while True: 
    
    value = input('Integer, please [q to quit]: ')
    if value == 'q':
      break
    
    number = int(value)

    if number % 2 == 0:
      continue
    else: 
      print("{}, squared is, {}".format(number, number**2))

Integer, please [q to quit]: q

# Usando else en un bucle while

In [ ]:
numbers = [1, 3, 5]
position = 0 
while position < len(numbers):
  number = numbers[position]

  if number % 2 == 0:
    print("Found even number {}".format(number))
    break
  else:
    position += 1 

else:
  print("No even number found")

No even number found

**Ejercicio**: 

Usando while sumar los números enteros del 1 al 100 e imprimir esta suma.

In [ ]:
suma = 0 

i = 1 
limite = 25

while i <= limite: 
  suma += i 
  i += 1

print("El valor de la suma es {}".format(suma))

El valor de la suma es 325

In [ ]:
int((limite*(limite+1))/2)

325